{
  "presets": ["es2015", "stage-0", "stage-1", "react"],
  "env": {
    "development": {
      "plugins": [
        ["transform-react-display-name"],
        ["transform-decorators-legacy"],
        ["transform-object-rest-spread"],
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }]
        }]
      ]
    }
  }
}
