@import "../../theme/base.styl"


.commentForm
  size 100% auto


  &__message
    size 100% 100px
    padding 4px 10px
    border 1px solid $gray


  &__btnWrap
    padding 5px 0
    text-align right


  &__btn
    padding 5px 10px
    font-weight 700
    color $white
    background $green
    border 0
